@charset "UTF-8";
@import url(./normalize.css);
@import url(./foundation-icons.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic);
@-moz-keyframes rotateIn {
  0% {
    opacity: 0;
    transform: rotateX(40deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes rotateIn {
  0% {
    opacity: 0;
    transform: rotateX(40deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@keyframes rotateIn {
  0% {
    opacity: 0;
    transform: rotateX(40deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
html, body {
  height: 100%;
}

body {
  background-color: #eeeeee;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #6cabdf;
  min-width: 760px;
  display: flex;
  -webkit-display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-weight: 500;
  font-size: 72px;
  font-style: italic;
  line-height: 0;
  letter-spacing: -4px;
}

em {
  font-weight: 500;
  font-style: italic;
}

p {
  font-size: 20px;
}

li {
  list-style: none;
}

span.listIco {
  display: inline-block;
  width: 25px;
  text-align: center;
}

#about {
  text-align: left;
  background-color: rgb(248, 247, 247);
  padding: 12px;
  width: 575px;
  height: 350px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 0 4px 0 #bbb;
  -webkit-box-shadow: 0 0 4px 0 #bbb;
  box-shadow: 0 0 8px 0 rgb(90, 133, 226);
  -moz-perspective: 600px;
  -webkit-perspective: 600px;
  perspective: 600px;
  -webkit-animation: rotateIn 1.5s;
  -moz-animation: rotateIn 1.5s;
  animation: rotateIn 1.5s;
}
#about header {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: -40px;
  left: -8px;
  margin: auto;
  color: #a4a4a4;
  font-style: italic;
  font-size: 20px;
}
#about #ico {
  position: absolute;
  top: 55px;
  left: 25px;
  margin: auto;
  width: 140px;
  height: auto;
  background-color: #6cabdf;
  padding: 6px;
  -moz-border-radius: 120px;
  -webkit-border-radius: 120px;
  border-radius: 150px;
  -moz-box-shadow: 0 0 4px 0 #aaa;
  -webkit-box-shadow: 0 0 4px 0 #aaa;
  box-shadow: 0 0 4px 0 #aaa;
}
#about #me {
  position: absolute;
  top: 53px;
  left: 150px;
  margin: 0 40px;
  height: 150px;
  width: 375px;
  border-top: 3px solid #d6d5d5;
  border-bottom: 3px solid #d6d5d5;
}
#about #me .description {
  position: absolute;
  top: -13px;
  left: -35px;
  width: 375px;
  font-size: 18px;
  text-align: left;
  line-height: 28px;
}
#about #me .description li {
  padding: 0;
}
#about .menu {
  position: absolute;
  top: 250px;
  left: 5px;
  right: 0px;
  margin: auto;
  width: 700px;
  color: #fff;
  text-align: center;
}
#about .menu li {
  float: left;
  margin: 0;
  padding: 0 20px;
}
#about .menu a {
  display: block;
  position: relative;
  left: -12px;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 50%;
}
#about .menu a span {
  position: absolute;
  opacity: 0;
  top: 48px;
  left: -26px;
  width: 80px;
  padding: 14px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 6px 0 #bbb;
  -webkit-box-shadow: 0 0 6px 0 #bbb;
  box-shadow: 0 0 6px 0 #bbb;
  background: #444;
  color: #fff;
  font-size: 30px;
  line-height: 1;
  transition: .5s;
}
#about .menu a span:after {
  position: absolute;
  top: -20px;
  left: 42px;
  height: 0;
  width: 0;
  border: 12px solid transparent;
  border-bottom: 12px solid #444;
  content: "";
}
#about .menu a:hover span {
  opacity: 0.8;
  top: 70px;
  font-size: 20px;
  text-align: center;
  width: 60px;
}
#about .menu a:before {
  font-family: 'foundation-icons';
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  width: 25px;
  padding: 0;
  margin: 0;
  color: #3a3a3a;
  font-size: 50px;
  text-align: center;
  line-height: 1.5;
  float: left;
  transition: .8s;
}
#about .menu a:hover:before {
  color: #6fb6f0;
}
#about .menu .twitter:before {
  content: "\f1e4";
}
#about .menu .weibo:before {
  content: "\f194";
}
#about .menu .steam:before {
  content: "\f1e0";
}
#about .menu .spotify:before {
  content: "\f1dd";
}
#about .menu .github:before{
  content: "\f1c9";
}
#about .menu .bilibili:before{
  content: "\f20e";
}
